[submodule "extensions/CentralNotice"]
	path = extensions/CentralNotice
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CentralNotice
[submodule "extensions/Wikidata"]
	path = extensions/Wikidata
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Wikidata
[submodule "extensions/SemanticMediaWiki"]
	path = extensions/SemanticMediaWiki
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SemanticMediaWiki
[submodule "extensions/SemanticResultFormats"]
	path = extensions/SemanticResultFormats
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SemanticResultFormats
[submodule "extensions/Validator"]
	path = extensions/Validator
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Validator
[submodule "extensions/AbuseFilter"]
	path = extensions/AbuseFilter
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AbuseFilter
[submodule "extensions/AccountAudit"]
	path = extensions/AccountAudit
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AccountAudit
[submodule "extensions/ActiveAbstract"]
	path = extensions/ActiveAbstract
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ActiveAbstract
[submodule "extensions/AntiBot"]
	path = extensions/AntiBot
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AntiBot
[submodule "extensions/AntiSpoof"]
	path = extensions/AntiSpoof
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/AntiSpoof
[submodule "extensions/ApiSandbox"]
	path = extensions/ApiSandbox
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ApiSandbox
[submodule "extensions/Babel"]
	path = extensions/Babel
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Babel
[submodule "extensions/BetaFeatures"]
	path = extensions/BetaFeatures
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/BetaFeatures
[submodule "extensions/Calendar"]
	path = extensions/Calendar
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Calendar
[submodule "extensions/Campaigns"]
	path = extensions/Campaigns
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Campaigns
[submodule "extensions/CategoryTree"]
	path = extensions/CategoryTree
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CategoryTree
[submodule "extensions/CentralAuth"]
	path = extensions/CentralAuth
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CentralAuth
[submodule "extensions/CharInsert"]
	path = extensions/CharInsert
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CharInsert
[submodule "extensions/CheckUser"]
	path = extensions/CheckUser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CheckUser
[submodule "extensions/CirrusSearch"]
	path = extensions/CirrusSearch
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CirrusSearch
[submodule "extensions/Cite"]
	path = extensions/Cite
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Cite
[submodule "extensions/cldr"]
	path = extensions/cldr
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/cldr
[submodule "extensions/CleanChanges"]
	path = extensions/CleanChanges
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CleanChanges
[submodule "extensions/CodeEditor"]
	path = extensions/CodeEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CodeEditor
[submodule "extensions/CodeReview"]
	path = extensions/CodeReview
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CodeReview
[submodule "extensions/Collection"]
	path = extensions/Collection
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Collection
[submodule "extensions/CommonsMetadata"]
	path = extensions/CommonsMetadata
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CommonsMetadata
[submodule "extensions/ConfirmEdit"]
	path = extensions/ConfirmEdit
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ConfirmEdit
[submodule "extensions/ContactPage"]
	path = extensions/ContactPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ContactPage
[submodule "extensions/ContentTranslation"]
	path = extensions/ContentTranslation
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ContentTranslation
[submodule "extensions/ContributionTracking"]
	path = extensions/ContributionTracking
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ContributionTracking
[submodule "extensions/CreditsSource"]
	path = extensions/CreditsSource
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CreditsSource
[submodule "extensions/CustomData"]
	path = extensions/CustomData
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/CustomData
[submodule "extensions/DisableAccount"]
	path = extensions/DisableAccount
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DisableAccount
[submodule "extensions/Disambiguator"]
	path = extensions/Disambiguator
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Disambiguator
[submodule "extensions/DismissableSiteNotice"]
	path = extensions/DismissableSiteNotice
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DismissableSiteNotice
[submodule "extensions/DonationInterface"]
	path = extensions/DonationInterface
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DonationInterface
[submodule "extensions/DoubleWiki"]
	path = extensions/DoubleWiki
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DoubleWiki
[submodule "extensions/DynamicSidebar"]
	path = extensions/DynamicSidebar
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/DynamicSidebar
[submodule "extensions/Echo"]
	path = extensions/Echo
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Echo
[submodule "extensions/EducationProgram"]
	path = extensions/EducationProgram
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/EducationProgram
[submodule "extensions/Elastica"]
	path = extensions/Elastica
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Elastica
[submodule "extensions/EventLogging"]
	path = extensions/EventLogging
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/EventLogging
[submodule "extensions/ExtensionDistributor"]
	path = extensions/ExtensionDistributor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ExtensionDistributor
[submodule "extensions/FeaturedFeeds"]
	path = extensions/FeaturedFeeds
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/FeaturedFeeds
[submodule "extensions/FlaggedRevs"]
	path = extensions/FlaggedRevs
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/FlaggedRevs
[submodule "extensions/Flow"]
	path = extensions/Flow
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Flow
[submodule "extensions/FundraiserLandingPage"]
	path = extensions/FundraiserLandingPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/FundraiserLandingPage
[submodule "extensions/FundraisingTranslateWorkflow"]
	path = extensions/FundraisingTranslateWorkflow
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/FundraisingTranslateWorkflow
[submodule "extensions/Gadgets"]
	path = extensions/Gadgets
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Gadgets
[submodule "extensions/GeoCrumbs"]
	path = extensions/GeoCrumbs
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GeoCrumbs
[submodule "extensions/GeoData"]
	path = extensions/GeoData
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GeoData
[submodule "extensions/GettingStarted"]
	path = extensions/GettingStarted
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GettingStarted
[submodule "extensions/GlobalBlocking"]
	path = extensions/GlobalBlocking
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GlobalBlocking
[submodule "extensions/GlobalCssJs"]
	path = extensions/GlobalCssJs
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GlobalCssJs
[submodule "extensions/GlobalUsage"]
	path = extensions/GlobalUsage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GlobalUsage
[submodule "extensions/GoogleNewsSitemap"]
	path = extensions/GoogleNewsSitemap
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GoogleNewsSitemap
[submodule "extensions/GuidedTour"]
	path = extensions/GuidedTour
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GuidedTour
[submodule "extensions/GWToolset"]
	path = extensions/GWToolset
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/GWToolset
[submodule "extensions/ImageMap"]
	path = extensions/ImageMap
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ImageMap
[submodule "extensions/InputBox"]
	path = extensions/InputBox
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/InputBox
[submodule "extensions/Insider"]
	path = extensions/Insider
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Insider
[submodule "extensions/intersection"]
	path = extensions/intersection
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/intersection
[submodule "extensions/Interwiki"]
	path = extensions/Interwiki
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Interwiki
[submodule "extensions/JsonConfig"]
	path = extensions/JsonConfig
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/JsonConfig
[submodule "extensions/LabeledSectionTransclusion"]
	path = extensions/LabeledSectionTransclusion
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LabeledSectionTransclusion
[submodule "extensions/LandingCheck"]
	path = extensions/LandingCheck
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LandingCheck
[submodule "extensions/LdapAuthentication"]
	path = extensions/LdapAuthentication
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LdapAuthentication
[submodule "extensions/LiquidThreads"]
	path = extensions/LiquidThreads
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LiquidThreads
[submodule "extensions/Listings"]
	path = extensions/Listings
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Listings
[submodule "extensions/LocalisationUpdate"]
	path = extensions/LocalisationUpdate
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LocalisationUpdate
[submodule "extensions/Mantle"]
	path = extensions/Mantle
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Mantle
[submodule "extensions/MapSources"]
	path = extensions/MapSources
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MapSources
[submodule "extensions/MarkAsHelpful"]
	path = extensions/MarkAsHelpful
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MarkAsHelpful
[submodule "extensions/MassMessage"]
	path = extensions/MassMessage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MassMessage
[submodule "extensions/Math"]
	path = extensions/Math
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Math
[submodule "extensions/MobileApp"]
	path = extensions/MobileApp
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MobileApp
[submodule "extensions/MobileFrontend"]
	path = extensions/MobileFrontend
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MobileFrontend
[submodule "extensions/MoodBar"]
	path = extensions/MoodBar
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MoodBar
[submodule "extensions/MultimediaViewer"]
	path = extensions/MultimediaViewer
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MultimediaViewer
[submodule "extensions/MwEmbedSupport"]
	path = extensions/MwEmbedSupport
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MwEmbedSupport
[submodule "extensions/MWSearch"]
	path = extensions/MWSearch
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/MWSearch
[submodule "extensions/NavigationTiming"]
	path = extensions/NavigationTiming
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/NavigationTiming
[submodule "extensions/NewUserMessage"]
	path = extensions/NewUserMessage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/NewUserMessage
[submodule "extensions/Nuke"]
	path = extensions/Nuke
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Nuke
[submodule "extensions/OAuth"]
	path = extensions/OAuth
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OAuth
[submodule "extensions/OAI"]
	path = extensions/OAI
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OAI
[submodule "extensions/OATHAuth"]
	path = extensions/OATHAuth
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OATHAuth
[submodule "extensions/OpenSearchXml"]
	path = extensions/OpenSearchXml
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OpenSearchXml
[submodule "extensions/OpenStackManager"]
	path = extensions/OpenStackManager
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/OpenStackManager
[submodule "extensions/Oversight"]
	path = extensions/Oversight
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Oversight
[submodule "extensions/PagedTiffHandler"]
	path = extensions/PagedTiffHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PagedTiffHandler
[submodule "extensions/PageImages"]
	path = extensions/PageImages
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PageImages
[submodule "extensions/PageTriage"]
	path = extensions/PageTriage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PageTriage
[submodule "extensions/ParserFunctions"]
	path = extensions/ParserFunctions
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ParserFunctions
[submodule "extensions/Parsoid"]
	path = extensions/Parsoid
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Parsoid
[submodule "extensions/PdfHandler"]
	path = extensions/PdfHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PdfHandler
[submodule "extensions/Petition"]
	path = extensions/Petition
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Petition
[submodule "extensions/Poem"]
	path = extensions/Poem
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Poem
[submodule "extensions/PoolCounter"]
	path = extensions/PoolCounter
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/PoolCounter
[submodule "extensions/Popups"]
	path = extensions/Popups
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Popups
[submodule "extensions/ProofreadPage"]
	path = extensions/ProofreadPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ProofreadPage
[submodule "extensions/Quiz"]
	path = extensions/Quiz
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Quiz
[submodule "extensions/RandomRootPage"]
	path = extensions/RandomRootPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/RandomRootPage
[submodule "extensions/RelatedArticles"]
	path = extensions/RelatedArticles
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/RelatedArticles
[submodule "extensions/RelatedSites"]
	path = extensions/RelatedSites
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/RelatedSites
[submodule "extensions/Renameuser"]
	path = extensions/Renameuser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Renameuser
[submodule "extensions/RSS"]
	path = extensions/RSS
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/RSS
[submodule "extensions/Scribunto"]
	path = extensions/Scribunto
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Scribunto
[submodule "extensions/Score"]
	path = extensions/Score
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Score
[submodule "extensions/SearchExtraNS"]
	path = extensions/SearchExtraNS
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SearchExtraNS
[submodule "extensions/SecurePoll"]
	path = extensions/SecurePoll
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SecurePoll
[submodule "extensions/ShortUrl"]
	path = extensions/ShortUrl
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ShortUrl
[submodule "extensions/SiteMatrix"]
	path = extensions/SiteMatrix
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SiteMatrix
[submodule "extensions/Solarium"]
	path = extensions/Solarium
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Solarium
[submodule "extensions/SpamBlacklist"]
	path = extensions/SpamBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SpamBlacklist
[submodule "extensions/StrategyWiki"]
	path = extensions/StrategyWiki
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/StrategyWiki
[submodule "extensions/SubPageList3"]
	path = extensions/SubPageList3
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SubPageList3
[submodule "extensions/SubpageSortkey"]
	path = extensions/SubpageSortkey
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SubpageSortkey
[submodule "extensions/SwiftCloudFiles"]
	path = extensions/SwiftCloudFiles
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SwiftCloudFiles
[submodule "extensions/SyntaxHighlight_GeSHi"]
	path = extensions/SyntaxHighlight_GeSHi
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SyntaxHighlight_GeSHi
[submodule "extensions/TemplateData"]
	path = extensions/TemplateData
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateData
[submodule "extensions/TemplateSandbox"]
	path = extensions/TemplateSandbox
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TemplateSandbox
[submodule "extensions/TextExtracts"]
	path = extensions/TextExtracts
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TextExtracts
[submodule "extensions/Thanks"]
	path = extensions/Thanks
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Thanks
[submodule "extensions/TimedMediaHandler"]
	path = extensions/TimedMediaHandler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TimedMediaHandler
[submodule "extensions/timeline"]
	path = extensions/timeline
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/timeline
[submodule "extensions/TitleBlacklist"]
	path = extensions/TitleBlacklist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TitleBlacklist
[submodule "extensions/TitleKey"]
	path = extensions/TitleKey
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TitleKey
[submodule "extensions/TocTree"]
	path = extensions/TocTree
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TocTree
[submodule "extensions/TorBlock"]
	path = extensions/TorBlock
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TorBlock
[submodule "extensions/Translate"]
	path = extensions/Translate
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Translate
[submodule "extensions/TranslationNotifications"]
	path = extensions/TranslationNotifications
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TranslationNotifications
[submodule "extensions/TrustedXFF"]
	path = extensions/TrustedXFF
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/TrustedXFF
[submodule "extensions/UnicodeConverter"]
	path = extensions/UnicodeConverter
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/UnicodeConverter
[submodule "extensions/UniversalLanguageSelector"]
	path = extensions/UniversalLanguageSelector
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/UniversalLanguageSelector
[submodule "extensions/UploadWizard"]
	path = extensions/UploadWizard
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/UploadWizard
[submodule "extensions/UserDailyContribs"]
	path = extensions/UserDailyContribs
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/UserDailyContribs
[submodule "extensions/UserMerge"]
	path = extensions/UserMerge
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/UserMerge
[submodule "extensions/Vector"]
	path = extensions/Vector
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/Vector
[submodule "extensions/VectorBeta"]
	path = extensions/VectorBeta
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VectorBeta
[submodule "extensions/VipsScaler"]
	path = extensions/VipsScaler
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VipsScaler
[submodule "extensions/VisualEditor"]
	path = extensions/VisualEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/VisualEditor
[submodule "extensions/WikiEditor"]
	path = extensions/WikiEditor
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikiEditor
[submodule "extensions/wikihiero"]
	path = extensions/wikihiero
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/wikihiero
[submodule "extensions/WikiLove"]
	path = extensions/WikiLove
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikiLove
[submodule "extensions/WikimediaEvents"]
	path = extensions/WikimediaEvents
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikimediaEvents
[submodule "extensions/WikimediaIncubator"]
	path = extensions/WikimediaIncubator
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikimediaIncubator
[submodule "extensions/WikimediaMaintenance"]
	path = extensions/WikimediaMaintenance
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikimediaMaintenance
[submodule "extensions/WikimediaMessages"]
	path = extensions/WikimediaMessages
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikimediaMessages
[submodule "extensions/WikimediaShopLink"]
	path = extensions/WikimediaShopLink
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/WikimediaShopLink
[submodule "extensions/ZeroBanner"]
	path = extensions/ZeroBanner
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ZeroBanner
[submodule "extensions/ZeroPortal"]
	path = extensions/ZeroPortal
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/ZeroPortal
[submodule "extensions/SemanticForms"]
	path = extensions/SemanticForms
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SemanticForms
[submodule "skins/CologneBlue"]
	path = skins/CologneBlue
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/CologneBlue
[submodule "skins/Modern"]
	path = skins/Modern
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Modern
[submodule "skins/Nostalgia"]
	path = skins/Nostalgia
	url = https://gerrit.wikimedia.org/r/mediawiki/skins/Nostalgia
[submodule "vendor"]
	path = vendor
	url = https://gerrit.wikimedia.org/r/mediawiki/vendor
[submodule "extensions/SemanticInternalObjects"]
	path = extensions/SemanticInternalObjects
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SemanticInternalObjects
[submodule "extensions/LookupUser"]
	path = extensions/LookupUser
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/LookupUser
[submodule "extensions/NewSignupPage"]
	path = extensions/NewSignupPage
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/NewSignupPage
[submodule "extensions/StringFunctionsEscaped"]
	path = extensions/StringFunctionsEscaped
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/StringFunctionsEscaped
[submodule "extensions/WebPlatformAuth"]
	path = extensions/WebPlatformAuth
	url = https://github.com/webplatform/mediawiki-fxa-sso.git
[submodule "extensions/WebPlatformDocs"]
	path = extensions/WebPlatformDocs
	url = https://github.com/webplatform/mediawiki.git
